<form role="form" class="col-md-offset-3 col-md-6 go-right">
  <h2>Contact Mini Store</h2>
  <p>we hear you :)</p>
  <div class="form-group">
    <input id="name" name="name" type="text" class="form-control" required>
    <label for="name">Your Name</label>
  </div>
  <div class="form-group">
    <input id="phone" name="phone" type="tel" class="form-control" required>
    <label for="phone">Primary Phone</label>
  </div>
  <div class="form-group">
    <textarea id="message" name="phone" class="form-control" placeholder="message" required></textarea>

  </div>

  <button type="button" class="btn btn-success">Submit</button>
</form>
